	<!DOCTYPE html>
<html ng-app="ResumeApp">
<title>My online resume</title>
<head>
<link rel="icon" type="image/gif/png" href="profile.jpeg">
<meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
<!-- JavaScript files -->
<script src="jquery-3.1.1.min.js"></script>
<script src=".js/bootstrap.min.js"></script>
<script src="angular.min.js"></script>
<script src="angular-ui-router.js"></script>
<script src="angular-local-storage.min.js"></script>
<script src="angular-sanitize.js"></script>
<script src="App.js"></script>
<script src="controllers.js"></script>
</head>
<body ng-controller="MainCtrl" style="background-image: url(ground.jpg); background-size: cover;background-color:#121111 !important;font-family: Tahoma,Geneva,sans-serif;">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  add_bar" style="padding:0px !important;">
<div style="margin:0% !important;min-height:50px;">
<div style="height:100%;width:100%;padding-left:4%;padding-right:4%;">
<blockquote style="padding:0.5% !important;border:0px !important;border:0px;font-size:85%;font-style: italic;margin:0px !important;color: #121111;">
  It’s easy to run to others. It’s so hard to stand on one’s own record. You can fake virtue for an audience. You can’t fake it in your own eyes. Your ego is your strictest judge.It’s easier to donate a few thousand to charity and think oneself noble than to base self-respect on personal standards of personal achievement. It’s simple to seek substitutes for competence–such easy substitutes: love, charm, kindness, charity. But there is no substitute for competence.
  <footer style="font-size:90%;"><cite>Ayn Rand</cite></footer>
</blockquote>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 profile_div">
<div class = "profile_info_div">
<div class = "profile_image_div">
<img src="profile.jpeg" onclick="window.open(this.src)">
</div>
<div class="profile_name_div">
<div style="text-align:center;font-weight:bold;font-size:120%;">Ashok Dibbada</div>
<div style="text-align:center;font-size:90%;">Data Analyst & Coding Enthusiast</div>
<div style="text-align:center;font-size:80%;font-style: italic;"><span class="fa fa-map-marker" style="padding-right:2%;"></span>Bangalore,India</div>
</div>
<div class="profile_list_div">
<ui ng-repeat="attr in pageElements">
<li ng-class="{current : attr.selected}" ng-class="rest" ng-click="selectLink(attr)" style="color:black;text-decoration: none;text-align:center;padding:20px;">
{{attr.name}}
</li>
</ui>
</div>
</div>
</div>
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding:0px !important;">
<div ui-view>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  add_bar" style="padding:0px !important;background-color:#201F1F;">
<div style="text-align: center;padding-top:0.25%;color:#C0C0C0;font-weight:bold;">ASHOK DIBBADA</div>
<div style="text-align: center;font-size:80%;color:#C0C0C0;">Mu Sigma Business Solutions Pvt. Ltd.,Level 13,Aviator building,Ascendas- ITPL SEZ,ITPL,Whitefield,Bengaluru- 560066,Karnataka</div>
<div style="text-align: center;color:#C0C0C0;">
<span class="fa fa-mobile" style="font-size:110%;"></span><span style="padding-left:0.5%;font-size:80%;">
<a style="color:#C0C0C0;">+91-9676155969</a></span>
<span class="fa fa-envelope-o" style="font-size:110%;padding-left:1%;"></span><span style="padding-left:0.5%;font-size:80%;">
<a style="color:#C0C0C0;" href="mailto:ashoksubbu99@gmail.com?Subject= Mailed%20from%20Online%20resume" target="_top">ashoksubbu99@gmail.com</a></span>
</div>
<div style="text-align: center;color:#C0C0C0;">
<a class="fa fa-github" style="color:#C0C0C0;font-size:200%;" href="https://github.com/ashokdibbada" target="_blank"></a>
<a class="fa fa-linkedin-square" style="color:#C0C0C0;font-size:200%;padding-left:0.5%;" href="https://www.linkedin.com/in/ashokdibbada/" target="_blank"></a>
<a class="fa fa-quora" style="color:#C0C0C0;font-size:170%;padding-left:0.5%;" href="https://www.quora.com/profile/Ashok-Dibbada" target="_blank"></a>
</div>
</div>
</div>
</body>
</html>
