<style>
</style>
<div class="inner_page_first_div">
<div class="company_div">
<div class=" row overview_desc" style="margin-left:0.5%;margin-right:0.5%;padding-top:3%;font-size:120%;">
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="width:85%;padding:0px !important;">Hello,Good day!. I'm Ashok.<br/> Data Analyst by profession and Coding enthusiast by passion.
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="width:15%;padding:0px !important;">
<a class="fa fa-envelope" style="color:#201F1F;font-size:200%;" href="mailto:ashoksubbu99@gmail.com?Subject= Mailed%20from%20Online%20resume" target="_top"></a>
<a class="fa fa-github" style="color:#201F1F;font-size:200%;" href="https://github.com/ashokdibbada" target="_blank"></a>
<a class="fa fa-linkedin-square" style="color:#201F1F;font-size:200%;padding-left:0.5%;" href="https://www.linkedin.com/in/ashokdibbada/" target="_blank"></a></div>
</div>
<div class="overview_desc">
<h2 style="margin-top:1%; !important">Current Summary</h2>
I work as Decision Scientist in Mu Sigma. At Mu Sigma, I worked in a wide range of skills like Creating a excel dashboard to Creating a desktop application which creates Analytical Dataset from Images. Jump into my <a ng-click="overGo(pageElements[1])">Industry experience</a> for more details.
</div>
<div class="overview_desc">
<h3 style="margin-top:1%; !important">From</h3>
I am from IIT Guwahati in ECE Major with course work in networks and information theory.I like programming in C++ (now shifted to python) and have good foundations in understanding Data Structures & Algorithms.Take a look at my <a ng-click="overGo(pageElements[2])">academic experience</a> tab for more info.
</div>
<div class="overview_desc">
<h3 style="margin-top:1%; !important">Looking for</h3>
I can fill in roles from core programming to complete data science background. I am willng to work in roles where i can build interesting stuff with my team and learn to improve my skills.
</div>
<div class="overview_desc">
<h3 style="margin-top:1%; !important">Honors</h3>
At industry,I got 2 awards for my first 3 projects and critical appreciation from project leads to leadership team.Got various scholarships which covered my expenses for last 6 years of education.
</div>
<div class="overview_desc">
Here is my detailed resume <a class='fa fa-file-pdf-o pdf_file' href='Final_Report.pdf' target='_blank'></a>. Scroll down for contact info.
</div>
</div>
